#map {
    height: 85%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }



#cabeca{
    background-color: black;
    height: 10%;
}

#rodape{
    background-color: black;
    height: 5%;
}



html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}
#cointainer{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
}